.container-cards{
    display: flex;
    min-height: 600px;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    margin: 20px 0;

    div{
    width: 25%;

}

    svg {
    width: 100%;
    height: 60%;
}

    #card-btn{
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(105, 104, 104);
    border-bottom: 1px solid rgb(105, 104, 104);
    
    .btn1{
        margin-right: 5px;
        &:hover{
            cursor: pointer;
            }
    }

    .btn2{
        &:hover{
            cursor: pointer;
            }
    }

    div{
        display: flex;
    }
    }
}
