<div class="container-cards">
    <div><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1280.000000pt" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
        <path d="M0 6400 l0 -6400 6400 0 6400 0 0 6400 0 6400 -6400 0 -6400 0 0 -6400z m11600 0 l0 -5200 -5200 0 -5200 0 0 5200 0 5200 5200 0 5200 0 0 -5200z"/>
        </g>
        </svg>
        <div id="card-btn">
            <div>
                <button class="btn1">btn1</button>
                <app-shared-button
                [url]="'http://any-link/'"
                [exclude]="['linkedin', 'wechat', 'messenger']"
                [theme]="'neutral'"
                [layout]="'vertical'"
                [colorButton]="'008000'"
                ></app-shared-button>
            </div>
            <button class="btn2">btn2</button>
        </div>
    </div>
<div><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1280.000000pt" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
    <path d="M0 6400 l0 -6400 6400 0 6400 0 0 6400 0 6400 -6400 0 -6400 0 0 -6400z m11600 0 l0 -5200 -5200 0 -5200 0 0 5200 0 5200 5200 0 5200 0 0 -5200z"/>
    </g>
    </svg>
    <div id="card-btn">
        <div>
            <button class="btn1">btn1</button>
            <app-shared-button
            [url]="'http://any-link/'"
            [exclude]="['twitter', 'linkedin', 'weibo']"
            [theme]="'colorful'"
            [layout]="'vertical'"
            [colorButton]="''"
            ></app-shared-button>
        </div>
        <button class="btn2">btn2</button>
    </div>
</div>
<div><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1280.000000pt" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
    <path d="M0 6400 l0 -6400 6400 0 6400 0 0 6400 0 6400 -6400 0 -6400 0 0 -6400z m11600 0 l0 -5200 -5200 0 -5200 0 0 5200 0 5200 5200 0 5200 0 0 -5200z"/>
    </g>
    </svg>
    <div id="card-btn">
        <div>
            <button class="btn1">btn1</button>
            <app-shared-button
            [url]="'http://any-link/'"
            [exclude]="[]"
            [theme]="'neutral'"
            [layout]="'vertical'"
            [colorButton]="'#ff0000'"
            ></app-shared-button>
        </div>
        <button class="btn2">btn2</button>
    </div>
</div>
