<div class="container-event">
    <div class="left">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1280.000000pt" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path d="M0 6400 l0 -6400 6400 0 6400 0 0 6400 0 6400 -6400 0 -6400 0 0 -6400z m11600 0 l0 -5200 -5200 0 -5200 0 0 5200 0 5200 5200 0 5200 0 0 -5200z"/>
            </g>
            </svg>
    </div>
    <div class="right">
        What is Lorem Ipsum? <br><br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
</div>
<div id="btn-calendar">
    <button class="calendar">ADD TO CALENDAR</button>
    <app-shared-button
    [url]="'http://any-link'"
    [exclude]="['', '', '']"
    [theme]= "'colorful'"
    [layout]= "'horizontal'"
    [textButton]= "'shared'"
    [colorButton]="'0000ff'"
    >
    </app-shared-button>
</div>
<div class="final-page"></div>

